/* Colors */

$clr-ctrl: #e4ecf7;
$clr-ctrl-hover: #bfd4f0;
$clr-ctrl-pressed: #a0c4f1;

$clr-font-prime: #303030;
$clr-font-light: #7c7c7c;
$clr-font-disabled: rgb(196, 196, 196);

/* Fonts */

$font-prime: "Open Sans", sans-serif;
$font-additional: "Times New Roman", Times, serif;

$font-s: 1.6rem;
$font-m: 2rem;
$font-l: 2.4rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* Sizes */

$mediaMinWidth: 1440px;

/* Values */

$tr_0: 0.2s;
