/* Fonts stack */

$font-1: "Open Sans", sans-serif;
$font-2: "Neucha", cursive;

/* Font size */

$font-s: 1.4rem;
$font-m: 1.8rem;
$font-l: 2.2rem;
$font-xl: 2.8rem;
$font-xxl: 3.2rem;
$font-xxxl: 5.3rem;

/* Colors */

$dark-green: #192f2d;
$dark-green-1: #537a7d;
$dark-green-2: #679699;
$dark-green-3: #3b585a;

$white: #ffffff;
$gold: #ffd700;

$red: #ff3939;
$blue: #0084ff;
$green: #00b300;

/* Elements */

$background-color: $dark-green;
$font-prime-color: $white;
$font-hover-color: $gold;

$ctrl-clr: $dark-green-3;
$ctrl-clr-hover: $dark-green-1;
$ctrl-clr-active: $dark-green-3;

/* App sizes */

$mediaMaxWidth: 1920px;
$mediaMinWidth: 768px;

$mediaMidWidth: 1200px;

$icon-box-size: 36px;
