/* Main */

.main-tree-container {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 330px 1fr 330px;
  gap: 1.5vw;
}

.options {
  height: 100%;
  padding: 0 24px;
  background-color: rgba($background-color, 0.9);
  overflow-y: scroll;
}

.options::-webkit-scrollbar {
  display: none;
}

.tree-view {
  position: relative;
  height: 100%;
  background-color: rgba($background-color, 0.9);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__tree {
    display: block;
    margin: 0 auto;
    background-size: contain !important;
    max-width: 100%;
    height: 100%;
  }
}

.option-container {
  position: relative;
  margin: 24px 0;

  &__caption {
    @include font($font-1, $font-l);
  }

  &__list {
    margin: 16px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: hidden;
    max-height: 370px;
    transition: 0.8s;

    &_minimized {
      max-height: 0;
      border-bottom: 3px solid $dark-green-3;
      border-radius: 1px;
    }
  }
}

.minimaize-btn {
  @include ui-control(24px, 24px, 0);
  position: absolute;
  top: 4px;
  right: 0;
  background-color: $ctrl-clr;
  background-image: url("./assets/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 2px;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.minimaize-btn:hover {
  background-color: $ctrl-clr-hover;
}

.minimaize-btn_minimized {
  transform: rotate(-180deg);
}

.option {
  &-item {
    position: relative;
    width: 63px;
    height: 63px;
    background-color: $dark-green-3;
    border-radius: 5px;
    border: 1px solid $dark-green-3;
    transition: 0.2s ease-out;
    cursor: pointer;
    display: grid;
  }

  &-item:hover {
    background-color: $dark-green-1;
    border-color: $gold;
  }

  &_to-grab {
    @include font($font-1, $font-s, 1.2, $dark-green);
    padding: 4px;
    cursor: default;
  }

  &__decor-count {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 50%;
    background-color: $white;
    grid-area: 1/1/2/2;
  }

  &__img {
    cursor: grab;
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
  }
}

.settings-btn {
  position: relative;
  @include font($font-1, $font-s);
  @include ui-control(100%, 36px);
  background-color: $ctrl-clr;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.settings-btn:hover {
  background-color: $ctrl-clr-hover;
}

.settings-btn:active {
  background-color: $ctrl-clr-active;
}

.selected {
  width: 63px;
  height: 63px;
}

.moved {
  width: 63px;
  height: 63px;
}

@media screen and (max-width: $mediaMidWidth) {
  .main-tree-container {
    grid-template-columns: 332px 1fr;
    gap: 1vw;
  }

  .tree-view {
    grid-area: 1/2/3/3;
  }
}
