/* Basic setup */

/* :root {} */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: blue;
}
