/* Basic setup */

:root {
  /* Colors */

  /* prime colors */
  --dark-red: #710707;
  /* background */
  --background-black: #030303;
  --background-white: #ffffff;
  /* text */
  --text-font-gold: #9d8665;
  --text-font-gold-dark: #7e6c51;
  --text-white: #ffffff;
  --text-black: #000000;
  /* dev colors */
  --dev-magenta: magenta;
  --dev-blue: blue;
  --dev-tomato: red;

  /* Fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-forum: "Forum", cursive;
}

html {
  font-family: var(--font-roboto);
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Common classes */

/* Links */

.link:hover {
  color: var(--text-font-gold);
}

.link:active {
  color: var(--text-font-gold-dark);
}

/* Section title */

.section-title {
  font-family: var(--font-forum);
  font-size: 8rem;
  font-weight: 400;
  line-height: 9rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.gold-title {
  color: var(--text-font-gold);
}

/* Main containers */

.page-header {
  height: 150px;
  background-color: var(--background-black);
  color: var(--text-white);
}

.page-main {
  background-color: var(--background-white);
}

.page-footer {
  height: 392px;
  background-color: var(--background-black);
  color: var(--text-white);
  border: 1px solid var(--dev-magenta);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

/* Header */

.header-container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 74px;
  background-image: url(./assets/svg/logo.svg);
  background-repeat: no-repeat;
  font-family: var(--font-forum);
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.navigation {
  width: 775px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 775px;
}

.menu-item a {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 2.6rem;
  letter-spacing: 0.2rem;
}

/* Section containers */

.section {
  padding: 75px 0;
  height: max-content;
  background-color: var(--background-white);
}

.section-dark {
  background-color: var(--background-black);
}

/* Welcome section */

.welcome-section {
  height: calc(750px + 60px);
  background-image: linear-gradient(to right, black 30%, transparent 50%),
    url("./assets/img/w-mona-lisa--da-vinci-001.jpg");

  background-repeat: no-repeat;
  background-position: right top;
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-section_h1-wrapper {
  margin-top: 150px;
}

.welcome-section_p-wrapper {
  margin-top: 25px;
}

.section-text-28-300 {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3.3rem;
  letter-spacing: 0.2rem;
}

.section-text-22-300 {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 2.6rem;
  letter-spacing: 0.2rem;
}

.welcome-section_btn-wrapper {
  margin-top: 75px;
}

.welcome-section-btn {
  height: 75px;
  width: 360px;
  border-radius: 10px;
  background-color: var(--dark-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section-btn:hover {
  background-color: var(--text-font-gold);
}

/* Pagination slider (Sweper) */

.pagination-slider_wrapper {
  margin-top: 152px;
  height: 120px;
  width: 600px;
  align-self: flex-end;
  background-color: var(--dev-magenta);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.swiper {
  font-size: 2.2rem;
  display: flex;
  align-content: center;
}

.swiper-wrapper {
  display: flex;
  align-content: center;
}

/* Visiting section */

.visiting-section {
  color: var(--text-black);
  min-height: 1116px;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.visiting-container {
  margin-top: 100px;
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 75px;
}

.visiting-card {
  display: block;
  height: 424px;
  width: 440px;
}

.visiting-card-img {
  width: 440px;
  height: 285px;
}

.visiting-card-title {
  margin-top: 25px;
  text-transform: uppercase;
}

.visiting-card-paragraph {
  margin-top: 22px;
}

.visiting-card-paragraph2 {
  margin-top: 10px;
}

.section-text-F-32-400 {
  font-family: var(--font-forum);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.underline-card-title {
  position: relative;
}

.underline-card-title::after {
  content: "";
  position: absolute;
  width: 300px;
  bottom: -10px;
  left: 0px;
  height: 2px;
  background-color: var(--dark-red);
}

.section-text-22-200 {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 2.6rem;
  letter-spacing: normal;
}

.section-text-18-200 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 2.1rem;
  letter-spacing: normal;
}

/* Explore section */

.exploter-section {
  color: var(--text-white);
  min-height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explore-description {
  width: 660px;
}

.explore-text {
  margin-top: 25px;
  line-height: 3.8rem;
  letter-spacing: normal;
}

.explore-text-wrapper {
  margin-top: 103px;
}

.emphasize-text {
  color: var(--text-font-gold);
}

.explore-picture {
  height: 700px;
  width: 720px;
}

/* Video section */

.video-section {
  color: var(--text-black);
}

/* Gallery section */

.gallery-section {
  color: var(--text-white);
}

/* Tickets section */

.tickets-section {
  color: var(--text-black);
}

/* Contacts section */

.contacts-section {
  color: var(--text-white);
}
