.main-container {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 1.5vw;
}

/* Filters section */

.decor-filter {
  height: 100%;
  overflow-y: scroll;
  padding: 0 24px;
  background-color: rgba($background-color, 0.9);

  &__search-container,
  &__sort-container,
  &__cat-title-container {
    margin: 24px 0;
    display: grid;
    grid-template-columns: 1fr 270px;
    row-gap: 16px;
  }

  &__caption {
    @include font($font-1, $font-l);
    grid-area: 1/1/2/-1;
  }

  &__search-input {
    grid-area: 2/2/3/-1;
    @include font($font-1, $font-s);
    @include ui-control(100%, 36px);
    background-color: $ctrl-clr;
    text-align: center;
    padding: 0 22px;
    appearance: none;
  }

  &__search-input:focus {
    border-color: $gold;
  }

  &__container-1 {
    margin: 16px 24px;
    height: 36px;
    display: grid;
    grid-template-columns: 70px repeat(5, 36px);
    align-items: center;
    column-gap: 10px;
  }

  &__sub-cat-name {
    @include font($font-1, $font-m);
  }
}

.decor-filter::-webkit-scrollbar {
  display: none;
}

.filter-item {
  position: relative;
  cursor: pointer;
  transition: filter 0.4s;
}

/* Cards section */

.decorations-cards {
  height: 100%;
  overflow-y: scroll;

  &__container {
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
  }
}

.decorations-cards::-webkit-scrollbar {
  display: none;
}

.decor-card {
  @include blured-bg;
  @include font($font-1, $font-s);
  position: relative;
  padding: 18px;
  letter-spacing: 1px;
  max-width: 300px;
  height: 340px;
  border-radius: 10px;
  border: 1px solid #ffffff90;
  transition: transform 0.2s ease-out;
  cursor: pointer;

  &__caption {
    @include font($font-2, $font-l);
    letter-spacing: 2px;
    text-align: center;
    height: 58px;
  }

  &__img {
    margin: 4px 0 16px;
    display: block;
    width: 100%;
    height: 100px;
    object-fit: contain;
  }

  &__prop {
    margin: 8px 0;
  }

  &__not-found {
    @include blured-bg;
    @include font($font-2, $font-xl);
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
    padding: 40px 0;
    height: 180px;
    border-radius: 10px;
    border: 1px solid #ffffff90;
    grid-area: 1/1/2/-1;
  }
}

.decor-card:hover {
  transform: scale(1.03);
}
