.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 24px;
}

.decor-filters {
  padding: 10px;
  background-color: rgba($background-color, 0.9);
  border-radius: 10px 10px 0px 0px;
}

.decorations-cards {
  height: 90%;
  background-color: rgba($background-color, 0.9);
  border-radius: 10px 10px 0px 0px;

  &__caption {
    @include font($font-2, $font-xxl);
    margin: 10px 30px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    overflow: scroll;
  }

  &__container::-webkit-scrollbar {
    display: none;
  }
}

.decor-card {
  width: 220px;
  height: 340px;
  border-radius: 10px;
  background-color: mediumpurple;
}
