@use "sass:math";

/* Shapes */

.ico-decor {
  &-ball::before {
    @include filter-icon;
    background-image: url("./assets/svg/ball.svg");
  }

  &-bell::before {
    @include filter-icon;
    background-image: url("./assets/svg/bell.svg");
  }

  &-cone::before {
    @include filter-icon;
    background-image: url("./assets/svg/cone.svg");
  }

  &-flake::before {
    @include filter-icon;
    background-image: url("./assets/svg/snowflake.svg");
  }

  &-figure::before {
    @include filter-icon;
    background-image: url("./assets/svg/toy.svg");
  }
}

/* Favorite */

.ico-favorite-decor::before {
  content: "";
  position: absolute;
  top: 125px;
  left: 18px;
  width: $icon-box-size;
  height: $icon-box-size;
  background-image: url("./assets/svg/fav.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Colors filter shape */

.circle {
  display: block;
  width: math.div($icon-box-size, 2);
  height: math.div($icon-box-size, 2);
  border-radius: 50%;

  &-white {
    background-color: white;
  }
  &-yellow {
    background-color: yellow;
  }
  &-red {
    background-color: #ff3939;
  }
  &-blue {
    background-color: #0084ff;
  }
  &-green {
    background-color: #00b300;
  }
}

/* Wait */

.wait-status {
  cursor: wait;
}
